
.wrapper {
  height: 200%;
  margin: 0;
  padding: 0;
  background-color: white;
}



body {
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: purple;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}

#submit:hover {
  background-color: rgb(137, 147, 151);
}

.choicebtn {
  padding: 15px;
}

#clock {
  
  padding-top: 10px;
  padding-left: 70%;
  float: left;
  color: rgb(26, 25, 25);
}

.seconds {
  color: rgb(26, 25, 25);
}

.wrapper {
  padding-top: 30px;
  padding-left: 300px;
  padding-right: 300px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: purple;
}

.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

h2 {
  font-size: 25px;
}

#card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color:blue;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  
}


.hide {
  display: none;
}

.card-body {
  min-height: 100px;
}


/* Media queries for device screen sizes */
@media (max-width: 500px) {
  .btn {
    font-size: 1rem;
    margin: 10px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}